@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #e74c3c;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* *******************
* Search Bar Style
**********************/
.inner-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}

.inner-form .input-field {
  height: 48px;
}

.inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
}

.inner-form .input-field input.placeholder {
  color: #222;
  font-size: 16px;
}

.inner-form .input-field input:-moz-placeholder {
  color: #222;
  font-size: 16px;
}

.inner-form .input-field input::-webkit-input-placeholder {
  color: #222;
  font-size: 16px;
}

.inner-form .input-field input:hover,
.inner-form .input-field input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

.inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  background: #f1f1f1;
}

.inner-form .input-field.first-wrap input {
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
}

.inner-form .input-field.first-wrap .svg-wrapper {
  min-width: 80px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
}

.inner-form .input-field.first-wrap svg {
  width: 25px;
  height: 25px;
  fill: #777;
}

.inner-form .input-field.second-wrap {
  min-width: 130px;
}

@media screen and (max-width: 767px) {
  .inner-form .input-field.second-wrap {
    min-width: 100px;
  }
}

.inner-form .input-field.second-wrap .btn-search {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  font-size: 16px;
  color: #fff;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  background: #3fe00e;
  -webkit-transition: all 0.2s ease-out, color 0.2s ease-out;
  transition: all 0.2s ease-out, color 0.2s ease-out;
  font-weight: 600;
}

.inner-form .input-field.second-wrap .btn-search:hover {
  background: red;
}

.inner-form .input-field.second-wrap .btn-search:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

ul li {
  padding: 5px 12px;
}

.icon-check {
  color: #3fe00e;
  margin-right: 5px;
}

footer {
  padding: 50px 30px;
  text-align: center;
}

#warning {
  display: none;
}

.navbar-toggler {
  padding: 0 !important;
  border: none !important;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.navbar-brand {
  font-weight: 500;
}

p {
  word-break: break-all;
}

#foods .col-sm-3 .food-box {
  position: relative;
  overflow: hidden;
}

#foods .col-sm-3 .food-box img {
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}

#foods .col-sm-3 .food-box:hover .fav-btn-box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

#foods .col-sm-3 .food-box:hover img {
  -webkit-transform: scale(1.55, 1.55) rotate(-5deg);
          transform: scale(1.55, 1.55) rotate(-5deg);
}

#foods .col-sm-3 .food-box .fav-btn-box {
  position: absolute;
  -webkit-transform: translateY(102%);
          transform: translateY(102%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#foods .col-sm-3 .food-box .fav-btn-box .fav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  border: none;
  background-color: #3fe00e;
  border-radius: 5px;
  color: white;
}

#foods .col-sm-3 .food-box .fav-btn-box .fav-btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#foods .col-sm-3 .food-box .fav-btn-box .fav-btn i {
  margin-right: 5px;
}

#foods .col-sm-3 .food-box .fav-btn-box .view-btn {
  background-color: white;
  color: black;
  padding: 8px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

#foods .col-sm-3 .food-box .fav-btn-box .view-btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.banner {
  position: relative;
}

.banner::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.banner img {
  width: 100%;
  min-height: 400px;
}

.banner .caption-box {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 20;
}

.banner .caption-box h1 {
  font-size: 50px;
  color: white;
}

.banner .caption-box p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}

.single-food .card .images img {
  width: 100%;
}

.single-food .card #about {
  line-height: 35px;
  color: #666666;
}

.single-food .card #tags .tag, .single-food .card #ingredients .tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 13px;
  margin: 5px;
  background-color: white;
  color: #666666;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.favourites h2 {
  text-align: center;
}

.favourites #not-found {
  text-align: center;
}

.favourites .col-sm-12 {
  padding: 25px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.favourites .col-sm-12 .meal-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.favourites .col-sm-12 .meal-box .meal-img {
  text-align: center;
  padding: 10px;
}

.favourites .col-sm-12 .meal-box .meal-img .img-box {
  overflow: hidden;
}

.favourites .col-sm-12 .meal-box .meal-img:hover img {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.favourites .col-sm-12 .meal-box .meal-img img {
  width: 100%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  border-radius: 5px;
}

.favourites .col-sm-12 .meal-box .meal-details {
  padding: 10px;
}

.favourites .col-sm-12 .meal-box .fav-btn-box {
  padding: 10px;
}

.favourites .col-sm-12 .meal-box .fav-btn-box .view-btn {
  padding: 10px 20px;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  background: #3fe00e;
  border: 1px solid #3fe00e;
}

.favourites .col-sm-12 .meal-box .fav-btn-box .delete-btn {
  padding: 10px 20px;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  background: white;
  border: 1px solid red;
  color: red;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.favourites .col-sm-12 .meal-box .fav-btn-box .delete-btn:hover {
  background-color: red;
  color: white;
}

.favourites .col-sm-12 .meal-box .fav-btn-box button:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.toast-box.hidden {
  display: none;
}

.toast-box {
  position: fixed;
  top: 25px;
  right: 50px;
  border-radius: 5px;
  background: #fff;
  padding: 20px 35px 20px 25px;
  -webkit-box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  min-width: 360px;
  z-index: 100;
}

.toast-box.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.toast-box .toast-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toast-content .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: #0cff49;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 20px;
}

.toast-box img {
  max-width: 20px;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}

.toast-box .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast-box .close:hover {
  opacity: 1;
}

@media only screen and (max-width: 380px) {
  h1 {
    font-size: 40px !important;
  }
  .toast-box {
    right: 5px;
    width: 280px;
    min-width: 280px !important;
    padding: 20px 0px 20px 25px !important;
  }
  .toast-box .text-2 {
    font-size: 12px !important;
  }
}

@media only screen and (min-width: 380px) and (max-width: 576px) {
  h1 {
    font-size: 40px !important;
  }
  .toast-box {
    right: 10px;
    width: 320px;
    min-width: 320px !important;
    padding: 20px 0px 20px 25px !important;
  }
  .toast-box .text-2 {
    font-size: 12px !important;
  }
}

@media only screen and (max-width: 992px) {
  .fav-btn-box button {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=style.css.map */